<% @title = "Stop the CISPA: Call Your Representetive" %>
<header>
    <h1 id="title">Help Stop The CISPA</h1>
    <h2>Call Your Representative Now</h2>
  </header>
  <div id="container">
  <div id="box-1" class="column">
    <p><strong>Congress is at it again.</strong> The <em>Cyber Intelligence Sharing and Protection Act of 2011</em> (CISPA), under discussion right now in the Congress, and the <em>SECURE IT Act</em> proposed in the Senate, both aim to give unprecedented new powers to the government and private corporations—empowering them to violate individual privacy, and alter the fundamental operating principles of the Internet.</p>
    <section id="action">
      <p>Please take a moment and let your representatives know that you oppose these bills. Just plug in your zip code below. You'll be given phone numbers for your representatives and some key talking points you can use in your conversation. <strong>Your call makes a difference, it won't take long.</strong></p>
      <span id="formProgress" class="formProgress"></span>
      <form action="" method="post" onSubmit="return validateZIP(this.zip.value)">
          <input type="text" name="zip" placeholder="Zip Code" id="zip" class="txtFld" /><span id="formProgress" class="formProgress"></span>
          <span id="errorZip" class="formError"></span>
          <input class="button" id="submit" type="submit" />
    </form>
    </section>
    <p>Just like with <a href="http://en.wikipedia.org/wiki/Stop_Online_Piracy_Act">SOPA</a> our representatives demonstrate a shocking lack of understanding and/or interest in the impact this type of legislation could have on individual freedom and the fundamental nature of the Internet. As it stands now these bills:
      <ul>
        <li>Provide no standard for what type of information is allowed to be collected, leaving everything on the table</li>
        <li>Set an excessivley broad trigger, allowing private entities to employ "Cybersecurity Countermeasures" against anyone engaded in activity seen to "degrade the network"</li>
        <li>Set no limits for how information gathered can be used</li>
        <li>Create a loophole by using language ("Notwithstanding any other provision of law") that would essentially bypass all existing privacy legislation  </li>
      </ul>
    </p>
  </div>
  <div id="box-2" class="column">
    <p>As the EFF <a href="https://www.eff.org/deeplinks/2012/04/yes-cispa-could-allow-companies-filter-or-block-internet-traffic">points out</a>:
      <blockquote>This opens the door for ISPs and other companies to perform aggressive countermeasures like dropping or altering packets, so long as this is used as part of a scheme to identify cybersecurity threats. These countermeasures could put free speech in peril, and jeopardize the ordinary functioning of the Internet. This could also mean blocking websites, or disrupting privacy-enhancing technologies such as Tor. These countermeasures could even serve as a back door to enact policies unrelated to cybersecurity, such as disrupting p2p traffic.</blockquote>
    </p>
    <p>Join the <a href="https://www.eff.org/">EFF</a>, <a href="http://www.ucla.edu/">UCLA</a>, <a href="https://www.cdt.org/">CDT</a>, <a href="http://demandprogress.org/">Demand Progress</a> and others in our efforts to urge our representatives to reject these bills.</p>
  </div>
  </div>